html {
    font-family: sans-serif;
}
#container {
    /* border: 20px solid yellow; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}
.grid-item {
    border: 0.4px solid #AFAFAF;
    background-color: #FFFFFF;
    text-align: center;
    aspect-ratio: 1;
}